<div class = "navbar">
    <div class = "navbar-left">
        <div>
            Angular Movie Client    
        </div>
    </div>
    <div class = "navbar-right">
        <input
            [(ngModel)]="searchText"
            (ngModelChange)="sendMessage()"
            placeholder="Search..."
            style="margin-right: 10px;"
            *ngIf="hasUser()"
        />
        <button
            mat-raised-button
            class="navButton"
            (click)="navHome()"
            style="margin-right: 10px;"
            color="primary"
            *ngIf="hasUser()"
        >
            Home
        </button>
        <button
            mat-raised-button
            class="navButton"
            (click)="navProfile()"
            style="margin-right: 10px;"
            color="primary"
            *ngIf="hasUser()"
        >
            Profile
        </button>
        <button
            mat-raised-button
            class="navButton"
            (click)="navSignout()"
            style="margin-right: 10px;"
            color="primary"
            *ngIf="hasUser()"
        >
            Signout
        </button>
    </div>
</div>

